@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

a.active {
  @apply rounded-lg bg-Thistle text-black py-1 px-1;
}
